<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org">

<div th:fragment="header">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/moodle.png}" style="max-width: 50px;"> [[#{logo}]]
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navBar" aria-controls="navBar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBar">
            <div class="navbar-nav">
                <a sec:authorize="isAnonymous()" class="nav-item nav-link"
                   th:href="@{/login}" th:text="#{menu.login}"></a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link"
                   th:href="@{/admin}" th:text="#{menu.admin}"></a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link"
                   th:href="@{/configure}" th:text="#{menu.configure}"></a>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link"
                   th:href="@{/analytics}" th:text="#{menu.analytics}"></a>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link"
                   th:href="@{/changePassword}" th:text="#{menu.change.password}"></a>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link"
                   th:href="@{/logout}" th:text="#{menu.logout}"></a>
            </div>

            <div class="navbar-nav ml-auto">
                <div class="dropdown">
                    <button class="btn btn-primary-outline text-light dropdown-toggle" type="button"
                            id="languageDropdownButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe"></i> [[#{menu.language}]]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="languageDropdownButton">
                        <button class="dropdown-item" th:text="#{menu.bulgarian}" onclick="setLocale('bg');"></button>
                        <button class="dropdown-item" th:text="#{menu.english}" onclick="setLocale('en');"></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>