<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/BaseLayout}">
<head>
    <title th:text="#{menu.admin}"></title>
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.css">
    <link rel="stylesheet" crossorigin="anonymous"
          href="http://fezvrasta.github.io/snackbarjs/themes-css/material.css">
</head>
<body>
<section layout:fragment="body">
    <div class="container mt-5 h-100">

        <div class="card">
            <div id="table" class="table-editable">
                <table class="table table-bordered table-responsive-md text-center">
                    <thead>
                    <tr>
                        <th class="text-center" th:text="#{table.number}"></th>
                        <th class="text-center" th:text="#{input.username}"></th>
                        <th class="text-center" th:text="#{input.first.name}"></th>
                        <th class="text-center" th:text="#{input.last.name}"></th>
                        <th class="text-center" th:text="#{input.email}"></th>
                        <th class="text-center" th:text="#{input.role}"></th>
                        <th class="text-center" th:text="#{table.action}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user, iteration : ${users}">
                        <tr>
                            <td class="pt-3-half" contenteditable="false" th:text="${iteration.index + 1}"></td>
                            <td class="pt-3-half" contenteditable="false" th:text="${user.username}"></td>
                            <td class="pt-3-half" contenteditable="false" th:text="${user.firstName}"></td>
                            <td class="pt-3-half" contenteditable="false" th:text="${user.lastName}"></td>
                            <td class="pt-3-half" contenteditable="false" th:text="${user.email}"></td>
                            <td class="pt-3-half" contenteditable="false" th:text="${user.role.name}"></td>
                            <td class="pt-3-half" contenteditable="false">
                                <button type="button" class="btn btn-danger"
                                        th:id="'disable_' + ${user.id}"
                                        th:data-id="${user.id}"
                                        th:classappend="${user.enabled && user.username != #authentication.getPrincipal().getUsername()}  ? '' : 'hidden'"
                                        th:text="#{input.disable}"
                                        onclick="changeUserStatus(this.getAttribute('data-id'), 'disable');"></button>
                                <button type="button" class="btn btn-success"
                                        th:data-id="${user.id}"
                                        th:id="'enable_' + ${user.id}"
                                        th:classappend="${!user.enabled && user.username != #authentication.getPrincipal().getUsername()} ? '' : 'hidden'"
                                        th:text="#{input.enable}"
                                        onclick="changeUserStatus(this.getAttribute('data-id'), 'enable');"></button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card bg-light mx-auto top-buffer" style="max-width: 450px;">
            <div class="card-body">
                <div th:replace="fragment/Messages :: messages"></div>
                <h4 class="card-title mt-3 text-center" th:text="#{input.add.user}"></h4>

                <form th:action="@{/admin}" method="POST" th:object="${form}">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="username"
                               name="username" th:placeholder="#{input.username}"
                               th:field="*{username}">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" id="password"
                               name="password" th:placeholder="#{input.password}"
                               th:field="*{password}">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="firstName"
                               name="firstName" th:placeholder="#{input.first.name}"
                               th:field="*{firstName}">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="lastName"
                               name="lastName" th:placeholder="#{input.last.name}"
                               th:field="*{lastName}">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email"
                               th:placeholder="#{input.email}" th:field="*{email}">
                    </div>

                    <div class="form-group input-group">
                        <select class="form-control input-sm" th:field="*{roleId}">
                            <th:block th:each="role : ${roles}">
                                <option th:value="${role.id}" th:text="${role.name}"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="form-row align-items-center d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary btn-block"
                                th:text="#{input.add.user}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section layout:fragment="js">
    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
    <script th:inline="javascript">
        function changeUserStatus(id, status) {
            $.ajax({
                type : 'PATCH',
                url : "/user/status/" + id,
                error : function(error) {
                    $.snackbar({content: /*[[#{error.response}]]*/, style: "toast", timeout: 2000});
                },
                success : function(response) {
                    $.snackbar({content: /*[[#{successfully.changed.user.status}]]*/, style: "toast", timeout: 2000});

                    if (status == 'disable') {
                        $("#disable_" + id).hide();
                        $("#enable_" + id).show();
                    } else {
                        $("#disable_" + id).show();
                        $("#enable_" + id).hide();
                    }
                }
            });
        }
    </script>
</section>
</body>
</html>