<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/BaseLayout}">
<head>
    <title th:text="#{menu.change.password}"></title>
</head>
<body>
<section layout:fragment="body">
    <div class="container mt-5">
        <div class="card bg-light mx-auto top-buffer" style="max-width: 450px;">
            <div class="card-body">
                <div th:replace="fragment/Messages :: messages"></div>
                <form th:action="@{/changePassword}" method="POST"
                      th:object="${form}">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" th:placeholder="#{input.old.password}"
                               th:field="*{oldPassword}">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" th:placeholder="#{input.new.password}"
                               th:field="*{newPassword}">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" th:placeholder="#{input.repeat.password}"
                               th:field="*{repeatNewPassword}">
                    </div>
                    <div class="form-group form-row">
                        <button type="submit" class="btn btn-primary btn-block"
                                th:text="#{menu.change.password}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>